# Ignore IDE files.
/.idea
/.vscode
# Eclipse uses these 3 directories:
/.buildpath
/.project
/.settings
/netbeans

# Ignore hidden and temp Mac and Windows files.
.DS_Store
._*
*.LCK
*.TMP
Thumbs.db
_notes
_vti_*
*~
